@font-face {
  font-family: "Helvetica Neue";
  src: url("./fonts/Helvetica Neue.woff");
}

.helvetica-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// app global css in SCSS form
.q-btn,
.q-tab {
  text-transform: none;
}

.center-aligned {
  position: absolute;
  left: 45%;
}

.q-card {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}