// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$gerilife-blue: #154493;
$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
$inactive  : #d9534f;
$semiactive: #e6c829;
$active    : #5cb85c;
$rowGreyBg : #f9f9f9;
$heatmap-r0:  #ffffbf;
$heatmap-r1:  #d9ef8b;
$heatmap-r2:  #a6d96a;
$heatmap-r3:  #66bd63;
$heatmap-r4:  #1a9850;
$heatmap-r5:  #006837;
$heatmap-r6:  #014b28;
$heatmap-r7:  #013a1f;
$heatmap-r8:  #01311b;
$heatmap-r9:  #00140b;
$heatmap-bg: #FFFFFF;
$heatmap-stroke: #CCCCCC;